.container {
    width: 100%;
    padding: 24px;
    background-color: #f5f5f5;
    border-radius: 8px;
}

.stepper-container {
    margin-bottom: 24px;
}

.step-button {
    font-weight: normal;
    color: #555;
}

.step-button.active {
    color: #1976d2;
    font-weight: bold;
}

.step-details {
    padding: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.step-details-title {
    margin-bottom: 16px;
    color: #1976d2;
    font-weight: bold;
}

.step-content {
    display: flex;
    gap: 20px; /* Khoảng cách giữa ảnh và mô tả */
    align-items: flex-start;
    margin-top: 16px;
}

.step-image {
    max-width: 50%; /* Ảnh chiếm 50% chiều ngang */
    border-radius: 8px;
}

.step-description {
    flex: 1;
    color: #333;
    font-size: 16px;
}

.navigation-buttons {
    display: flex;
    flex-direction: row;
    padding-top: 16px;
}

.button {
    margin-right: 8px;
}
