.offers {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    margin: auto;
    padding: 50px 20px;
    background: linear-gradient(180deg, #e1f6e8, #ffffff); /* Màu nền tự nhiên */
    border-radius: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.offers-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.offers-left h1 {
    color: #171717;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.offers-left p {
    color: #374151;
    font-size: 1rem;
    font-weight: 500;
    margin: 10px 0;
}

.offers-left button {
    width: 200px;
    height: 50px;
    border-radius: 25px;
    background: #ff4141;
    border: none;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
}

.offers-left button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(255, 65, 65, 0.4);
}

.offers-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.offers-right img {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.offers-right img:hover {
    transform: scale(1.02);
    transition: transform 0.3s ease;
}


/* Responsive */
@media (max-width: 1024px) {
    .offers {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .offers-left {
        gap: 15px;
    }

    .offers-left h1 {
        font-size: 2rem;
    }

    .offers-left p {
        font-size: 0.9rem;
    }

    .offers-left button {
        width: 180px;
        height: 45px;
        font-size: 0.9rem;
    }

    .offers-right img {
        width: 80%;
    }
}

@media (max-width: 768px) {
    .offers-left h1 {
        font-size: 1.8rem;
    }

    .offers-left p {
        font-size: 0.8rem;
    }

    .offers-left button {
        width: 160px;
        height: 40px;
        font-size: 0.8rem;
    }

    .offers-right img {
        width: 70%;
    }
}

@media (max-width: 500px) {
    .offers-left h1 {
        font-size: 1.5rem;
    }

    .offers-left p {
        font-size: 0.7rem;
    }

    .offers-left button {
        width: 140px;
        height: 35px;
        font-size: 0.7rem;
    }

    .offers-right img {
        width: 90%;
    }
}
